> **Follow.** If you find this post helpful, please click the LinkedIn
*follow* button.  You will be added to the [Parcel and Freight Shipping for
SAP page](https://www.linkedin.com/showcase/express-shipping-solution-for-sap)
on LinkedIn.  Thanks!<br /> <script src="https://platform.linkedin.com/in.js"
   type="text/javascript"> lang: en_US</script> <script type="IN/FollowCompany"
                                                        data-id="33221667"
                                                        data-counter="bottom"></script>
